{
  "printWidth": 80,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "proseWrap": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "insertPragma": false,
        "proseWrap": "never"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
